{% extends 'base.html' %}

{% block content %}

<div>
    <div style="text-align: center; max-width: 500px; margin: 4rem auto;">
        <p>
            가입일 : {{ target_user.date_joined }}
        </p>

        <p style="margin-top: 3rem;">
            {% if target_user.profile %}
        </p>

        <img src="{{ target_user.profile.image.url }}" alt="" style="box-shadow: 0 0 4px #ccc; height: 10rem; width: 10rem; border-radius: 10rem; margin-bottom: 1rem; object-fit: cover;">
        <h2 style="font-family: 'NanumBarunGothicBold'">
            {{ target_user.profile.nickname }}
                {% if target_user == user %}
                <a class="material-icons" style="box-shadow: 0 0 4px #ccc; border-radius: 10rem; padding: .4rem;" href="{% url 'profileapp:update' pk=target_user.profile.pk %}">
                    edit
                </a>
                {% endif %}
        </h2>
        <h5 style="margin-bottom: 3rem;">
            {{ target_user.profile.message }}
        </h5>

        {% else %}
            {% if target_user == user %}
            <a href="{% url 'profileapp:create' %}">
                <h2 style="margin-top: 2rem; margin-bottom: 2rem;">
                    >> Create Your Profile! <<
                </h2>
            </a>
            {% else %}

            <h2> {{ target_user.username }}'s Profile! </h2>

            {% endif %}
        {% endif %}


        {% if target_user == user %}
            <a class="material-icons" style="box-shadow: 0 0 4px #ccc; border-radius: 10rem; padding: .4rem; height: 2.5rem; width: 2.5rem;" href="{% url 'accountapp:update' pk=user.pk %}">
                <p>
                    settings
                </p>
            </a>
            <a class="material-icons" style="box-shadow: 0 0 4px #fcc; border-radius: 10rem; padding: .4rem; height: 2.5rem; width: 2.5rem;" href="{% url 'accountapp:delete' pk=user.pk %}">
                <p>
                    delete
                </p>
            </a>
        {% endif %}
    </div>

    <div>
        {% if target_user.profile.nickname %}
            <h5 style="text-align: center;"> {{ target_user.profile.nickname }} 님의 게시글 </h5>
        {% else %}
            <h5 style="text-align: center;"> {{ target_user.username }} 님의 게시글 </h5>
        {% endif %}

            {% include 'snippets/list_fragment.html' with article_list=object_list %}
    </div>
</div>

{% endblock %}