<div class="pragmatic_footer">
    <div class="pragmatic_footer_button">

        <a class="fab fa-facebook" href="https://www.facebook.com/bhnvx" target="_blank" style="font-size: 1.5rem; margin-right: 1rem;">
        </a>

        <a class="fab fa-instagram" href="https://www.instagram.com/hwwana/" target="_blank" style="font-size: 1.5rem; margin-right: 1rem;">
        </a>

        <a class="fab fa-github" href="https://www.github.com/bhnvx" target="_blank" style="font-size: 1.5rem;">
        </a>
   </div>
    <div>
        <h6 class="pragmatic_logo">Thx</h6>
    </div>
</div>